@import url("mobile.css") screen and (max-width: 767px);
@import url("desktop.css") screen and (min-width: 768px);

@font-face {
  font-family: gotham-bold;
  src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: gotham-light;
  src: url(../fonts/Gotham-Rounded-Light.otf);
}

@font-face {
  font-family: helveltica-light;
  src: url(../fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helveltica-medium;
  src: url(../fonts/HelveticaNeue-medium.ttf);
}

@font-face {
  font-family: helveltica-bold;
  src: url(../fonts/HelveticaNeue-Bold.ttf);
}

body {
  background-color: #cccccc54;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  top: 200px;
}

footer {
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: beige;
}
.gotham-bold {
  font-family: gotham-bold, sans-serif;
}

.gotham-light {
  font-family: gotham-light, sans-serif;
}

.helvetica-light {
  font-family: helveltica-light;
}

.helvetica-medium {
  font-family: helveltica-medium;
}

.helvetica-bold {
  font-family: helveltica-bold;
}

.bgc-black {
  background-color: #383838;
}

.txt-black {
  color: #383838;
}

.bgc-red {
  background-color: #d35266;
}

.txt-red {
  color: #d35266;
}

.bgc-gray {
  background-color: #888888;
}

.txt-gray {
  color: #888888;
}

.nav {
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.left-nav-section {
  display: flex;
  align-items: center;
}

.main-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu-section {
  align-items: center;
  margin-left: 20px;
}

.login-section {
  align-items: center;
}

.login-section a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.hot-ads {
  display: flex;
  min-height: 60vh;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
}

.cover {
  display: flex;
}

.cover img {
  height: 30vh;
}

.btn-select {
  border-color: #d35266;
}

.btn-select:hover {
  border-color: #d35266;
  background-color: #d35266;
}

.section-title {
  border-bottom: 1px solid #888888;
}
