@import url("mobile.css") screen and (max-width: 767px);
@import url("desktop.css") screen and (min-width: 768px);

@font-face {
  font-family: gotham-bold;
  src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: gotham-light;
  src: url(../fonts/Gotham-Rounded-Light.otf);
}

@font-face {
  font-family: helveltica-light;
  src: url(../fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helveltica-medium;
  src: url(../fonts/HelveticaNeue-medium.ttf);
}

@font-face {
  font-family: helveltica-bold;
  src: url(../fonts/HelveticaNeue-Bold.ttf);
}

body {
  background-color: #cccccc54;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  top: 200px;
}

.gotham-bold {
  font-family: gotham-bold, sans-serif;
}

.gotham-light {
  font-family: gotham-light, sans-serif;
}

.helvetica-light {
  font-family: helveltica-light, sans-serif;
}

.helvetica-medium {
  font-family: helveltica-medium, sans-serif;
}

.helvetica-bold {
  font-family: helveltica-bold, sans-serif;
}

.bgc-black {
  background-color: #383838;
}

.txt-black {
  color: #383838;
}

.bgc-red {
  background-color: #d35266;
}

.txt-red {
  color: #d35266;
}

.bgc-gray {
  background-color: #888;
}

.txt-gray {
  color: #888;
}

.nav {
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.left-nav-section {
  display: flex;
  align-items: center;
}

.main-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu-section {
  align-items: center;
  margin-left: 20px;
}

.login-section {
  align-items: center;
}

.login-section a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.cover {
  display: flex;
}

.cover img {
  height: 45vh;
  filter: drop-shadow(0 5px 3px black);
  animation: drop 1.5s ease;
}

.btn-select {
  border-color: #d35266;
}

.btn-select:hover {
  border-color: #d35266;
  background-color: #d35266;
}

.section-title {
  border-bottom: 1px solid #888;
  padding: 20px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-cover {
  height: 50%;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 17px;
}

.footer-links-social li {
  list-style: none;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}

.footer-links-social i {
  color: #383838;
}

.about-links li {
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 0;
}

.footer-links a,
.about-links a {
  text-decoration: none;
}

.filter-section p {
  border-bottom: 1px solid #88888852;
}

.footer-section-title {
  border-bottom: 1px solid #d53266;
  font-size: 14px;
}

.result-descr {
  border-bottom: 1px solid #88888852;
}

.cat-links p {
  border-bottom: 1px solid #d35266;
}

.seach-barside {
  border-right: 1px solid #88888852;
}

.form-check-input:checked {
  background-color: #d35266;
  border-color: #d35266;
}

.item-img {
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img img {
  grid-area: img;
  max-width: 100%;
}

.item-header {
  grid-area: header;
}

.item-description {
  grid-area: description;
}

.item-date {
  grid-area: date;
}

.item-price {
  grid-area: price;
}

.form-search {
  width: 100%;
}

.form-search button {
  width: 90%;
}

.arrow-container {
  display: flex;
  align-items: center;
}

i:hover {
  color: #d35266;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
